       <div id="leftPan" style="height:490px;margin-top:50px;margin-right:50px"class="bloc1 rounded">
             <div id="categories">
                 <center><h3>Categories</h3></center>
                    <ul>
                        <li><a href="@Href("~/Product","Shoes")">Shoes</a></li>
                        <li><a href="@Href("~/Product","Clothing")">Clothing</a></li>
                        <li><a href="@Href("~/Product","Sun-glasses")">Sun-glasses</a></li>
                        <li><a href="@Href("~/Product","Accesories")">Accessories</a></li>
                        <li><a href="@Href("~/Product","Jewellery")">Jewellery</a></li>
                        <li><a href="@Href("~/Product","Perfumes")">Fragrances</a></li>
                        <li><a href="@Href("~/Product","Watches")">Watches</a></li>
                        <li><a href="@Href("~/Product","Wallets")">Wallets</a></li>
                        <li><a href="@Href("~/Product","Sweaters")">Sweaters</a></li>
                        <li><a href="@Href("~/Product","BedSheets")">Bed Sheets</a></li>
                        <li><a href="@Href("~/Product","Comforters")">Comforters</a></li>
                        <li><a href="@Href("~/Product","CandleHolders")">Candle Holders</a></li>
                        <li><a href="@Href("~/Product","Curtains")">Curtains</a></li>
                        <li><a href="@Href("~/Product","Cushions")">Cushions & Cushion covers</a></li>
                        <li><a href="@Href("~/Product","Vases")">Vases</a></li>
                        <li><a href="@Href("~/Product","Towels")">Towels</a></li>
                        <li><a href="@Href("~/Product","Ornaments")">Ornaments</a></li>
                        <li><a href="@Href("~/Product","DoorMats")">Door Mats</a></li>
                    </ul>
             </div>
         </div>
         
            