@{
    ViewBag.Title = "Update Product";
}
@if(WebSecurity.IsCurrentUser("admin@yahoo.com")==true)
{
<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend> Update Product</legend>
        <div style="margin-bottom:20px">
            <span>
                <label for="Name" style="margin-right:49px">Product Name</label>
                <input name="Name" type="text" class="eight" value="@Model.Name" /><br />
            </span>
        </div>
        <div style="margin-bottom:20px">
            <span>
                <label for="Description" style="margin-right:16px">Product Description</label>
                <input name="Description" type="text" value="@Model.Description"/><br />
            </span>
        </div>
        <div style="margin-bottom:20px">
            <span>
                <label for="Price" style="margin-right:52px">Product Price</label>
                <input name="Price" type="text" value="@Model.Price"/><br />
            </span>
        </div> 
        <div style="margin-bottom:20px">
            <span>
                <label for="Category" style="margin-right:30px">Product Category</label>
                <input name="Category" type="text" value="@Model.Category"/>
                <br />
            </span>
        </div>
        <div style="margin-bottom:20px">
            <span>
                <label for="Code" style="margin-right:30px">Product Code</label>
                <input name="Code" type="text" value="@Model.Code"/>
                <br />
            </span>
        </div>
        <div style="margin-bottom:20px">
            <span>
                <label for="Image" style="margin-right:30px">Product Image</label>
                <input name="Image" type="file" value="@Model.Img"/>
                <br />
            </span>
        </div>
        <span>
            <label style="margin-right:606px"></label>
            <input id="save" type="submit" value="Save" />
        </span>
    </fieldset>
</form>
}
else
{
    Response.Redirect("~/Account/Login");
}